@import '../styles/global.scss';

#about {
  background: #E0EBE8;
  padding: 2em;
  color: #000;

  h3 {
      letter-spacing: 2.5px;
      margin: 1.45rem 0 2.45rem 0;
  }

  p {
      margin: 1.45rem 0;
      line-height: 1.75rem;
      font-family: $main-font;
  }
}