@import '../styles/global.scss';

#contact {
  border: 1px solid#E0EBE8;
  padding: 2em;
  color: #000;
  background: #E0EBE8;
  font-family: $main-font;

  h3 {
    letter-spacing: 8px;
    margin: 1rem 0 2.45rem 0;
    text-transform: uppercase;
    font-family: $main-font;
  }

  .content ul {
    margin-left: 0px;
    margin-bottom: 0px;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: #000;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
