@import '../styles/global.scss';

.hero {
  .title {
    h1 {
      font-family: $main-font;
      text-transform: uppercase;
      letter-spacing: 2.5px;
    }

    h3 {
      font-family: $main-font;
      font-size: 1.25rem;
    }
  }
}
